fastapi
uvicorn[standard]
torch
torchvision
timm
Pillow
python-multipart
numpy
opencv-python-headless
monai
nibabel
scipy
scikit-learn
firebase-admin
python-jose[cryptography]
pydantic
python-dotenv
aiofiles
einops
ultralytics
